/* ADD URL FONT */

:root {
    --cor-primaria: #240A34;
    --cor-secundaria: #891652;
    --cor-terciaria: #EABE6C;
    --cor-hover: #FFEDD8;

    --fonte-primaria: /*DEFINIR*/;
    --fonte-secundaria: /*DEFINIR*/ ;
}

* {
    margin: 0;
    padding: 0; 
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.menu {
    padding: 2vw 0vw 2vw 15vw;
    background-color: var(--cor-terciaria); 
    text-decoration: none; 
}

/* .menu__logo{
    float: left;
    font-weight: 700;
    font-size: 1.75rem;
    margin: 0% -225%;
} */

.menu__aba {
    display: flex;
    gap: 80px;
}

.nav__menu__aba {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--cor-secundaria);
    text-decoration: none;
}

.introducao {
    margin: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--cor-secundaria); 
    gap: 82px;
}

.introducao__conteudo {
    /* width: 50%;  MUDAR QND ADD FOTO*/
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.introducao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: Jacquard 12 Charted;
}

.introducao__conteudo__subtitulo {
    font-size: 1.9rem;
}

.introducao__conteudo__paragrafo {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.apresentacao__conteudo__texto a{
    text-decoration: none;
    color: var(--cor-terciaria);
}


.links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.subtitulo__links {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.links__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria); 
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-terciaria);
}

.links__link:hover {
    background-color: var(--cor-hover);
    padding: 1.35rem;
}

/* .intro__img {
    width: 50%;
} */

.rodape {
    padding: 24px;
    color: var(--cor-secundaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-size: 1.5rem;       
}

@media (max-width: 1200px) {

    .menu {
        padding: 10%;
    }

    .menu__aba {
        justify-content: center;
    }

    .introducao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .introducao__conteudo {
        width: auto;
    }

    .links__link {
        font-size: 1.1rem;
    }
}